body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,legend,button,form,fieldset,input,textarea,p,
blockquote,th,td {padding: 0;margin: 0;}
body{width: 100%;height: 100%;/*background-color: #0000ff;*/min-width: 980px;}

/* 设置宽度 、高度*/
.wid_30{width: 30%;}
.wid_35{width: 35%;}
.wid_60{width: 60%;}
.wid_80{width: 80%;}
.wid_100{width: 100%;}
.ac{text-align: center;}
.h20{height: 20px}

/* 设置margin */
.ma{margin: 0 auto;}
.mg5{margin: auto 5%;}

.fl{float: left;}
.fr{float: right;}
.bg_deepBlue{background-color: #222e36;}    /* 导航深色背景 */
.col_blue{color: #719ab5}   /*导航字颜色*/
.col_white{color: #ffffff}  /* 白色字体 */
.show{display: block}
.hide{display: none}
.posA{position: absolute;}
.posR{position: relative}



/* 导航、底部 共用 */
.ty_nav{width: 70%;height: 60px;margin: 0 auto;font-size: 16px;}
.ty_nav .ty_logo{width:15%;height: 30px;margin: 15px 0;float: left;}
.ty_navList{width: 50%;height: 35px;margin: 15px 0 0 15%;float: left;}
.ty_navList ul{width: 100%;height: 100%}
.ty_navList ul li{width:25%;height:100%;list-style-type: none;text-align: center;float: left;
    color: #719ab5;}
.ty_navList ul li p{text-align: center;}
.ty_navList ul li a{color: #719ab5;text-decoration: none;}
.ty_navList ul li img{width: 20px;margin: 0 auto;}
.ty_login{width: 15%;height: 30px;text-align: center;float: right}
.ty_login span{width: 48%;height: 30px;display: block;float: left;margin: 10px 0;line-height: 30px;cursor: pointer;}
.ty_login span:first-child{background-color: #46a1e1;color: #ffffff;
    -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.ty_login span:last-child{color: #719ab5;}
.ty_avatar{width: 15%;height: 30px;text-align: center;float: right;color:#ffffff;}
.ty_avatar span{height: 40px;line-height: 40px;text-align: center;float: left;color:#ffffff;margin: 5px 0 0 5px;}
.ty_avatar span div{width: 16px;height:16px;line-height:14px;display: inline-block;background-color: #ff0000;float: right;margin-left: -12px;
    color:#ffffff;-webkit-border-radius: 8px; -moz-border-radius: 8px;border-radius: 8px;font-size: 12px;}
.ty_avatar img{width: 40px;height: 40px;display: block;float: left;margin: 5px 0;line-height: 40px;
    -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}

.ty_foot{width: 70%;height: 90px;margin: 0 auto;font-size: 16px;}
.ty_foot .ty_logo{width:15%;height: 40px;margin: 20px 0;float: left;}
.ty_foot .ty_footList{width: 50%;height: 35px;margin: 15px 0 0 5%;float: left;}
.ty_foot .ty_footList ul{width: 560px;height: 100%}
.ty_foot .ty_footList ul li{width:180px;height:100%;list-style-type: none;text-align: center;float: left;
    color: #46a1e1;}
.ty_foot .ty_footList ul li p:first-child{font-size: 22px;}
.ty_foot .ty_footList ul li p:last-child{font-size: 12px;}
.ty_foot .ty_tel{width:70px;color: #46a1e1;padding-top: 15px;font-size: 14px;display: inline-block;
    float: right;margin-right: 10%;}
.ty_copyRight{height:30px;text-align: center;border-top: 1px solid #909090;font-size: 12px;color:#719ab5;
    line-height: 30px;}

/* 登录和注册 */
#ty_mask{width:100%;height:100%;position: absolute;top: 0;left: 0;z-index: 100;background-color:#e1e6f6;filter:alpha(opacity:85);opacity:0.85;}
#ty_login{width: 400px;height: 300px;min-width: 400px;position: absolute;left:35%;top:160px;background-color: #ffffff;z-index: 102;
    border: 1px solid #909090;}
#ty_login h3{width: 100%;height: 50px;line-height:50px;text-align: center;font-size: 22px;color:#46a1e1;}
#ty_login .ty_loginClose{height:50px;line-height:50px;position: absolute;top:-5px;right: 10px;cursor: pointer;}
#ty_login div{width: 70%;height: 40px;line-height:40px;margin: 5px 15%;border: none;}
#ty_login div input{width: 100%;height: 100%;border: none;padding-left: 5px;border: 1px solid #46a1e1;}
#ty_login .ty_forgetPassWord{border: none;font-size: 14px;color:#909090;}
#ty_login .ty_forgetPassWord div:first-child{width:30%;height:100%;border: none;float: left;margin: 0;cursor: pointer;}
#ty_login .ty_forgetPassWord div:last-child{width:50%;height:100%;border: none;float: right;margin: 0;color: #ff0000;}
#ty_login button{width:102%;height:100%;border: 1px solid #46a1e1;}
#ty_login .ty_loginBtn{background-color: #46a1e1;color: #ffffff;}
#ty_login .ty_weixinLogin{background-color: #ffffff;}
#ty_register{width: 400px;height: 420px;min-width: 400px;position: absolute;left:35%;top:160px;background-color: #ffffff;z-index: 102;
    border: 1px solid #909090;}
#ty_register h3{width: 100%;height: 50px;line-height:50px;text-align: center;font-size: 22px;color:#46a1e1;}
#ty_register .ty_loginClose{height:50px;line-height:50px;position: absolute;top:-5px;right: 10px;cursor: pointer;}
#ty_register div{width: 70%;height: 40px;line-height:40px;margin: 5px 15%;border: none;}
#ty_register div input{width: 100%;height: 100%;border: none;padding-left: 5px;border: 1px solid #46a1e1;}
#ty_register  #ty_yzm input{width: 70%;height: 100%;float: left;}
#ty_register  #ty_yzm button{width: 30%;height: 105%;float: right;font-size: 14px;border: none;background-color: #46a1e1;color: #ffffff;
    margin-right: -7px;}
#ty_register  #ty_photoYzm input{width: 70%;height: 100%;float: left;}
#ty_register  #ty_photoYzm img{width: 30%;height: 105%;float: right;font-size: 14px;border: none;background-color: #46a1e1;color: #ffffff;
    margin-right: -7px;}
#ty_register .ty_passwordShow input[type=checkbox]{width: 10px;height: 10px;border: none;border: 1px solid #46a1e1;
    position: relative;top:-40px;left: 260px;}
#ty_register button{width:102%;height:100%;border: 1px solid #46a1e1;}
#ty_register .ty_registerBtn button{background-color: #46a1e1;color: #ffffff;}
#ty_register .ty_weixinLogin button{background-color: #ffffff;}
#ty_register .ty_regError{width:100%;height:30px;font-size:14px;color: #ff0000;}

.on{color:#ffffff;}

.t_num1,.t_num2,.t_num3{display:inline-block;height:30px;margin-right:50px;}
.t_num1 i,.t_num2 i,.t_num3 i{background:url(../images/numbers.png) no-repeat;display:inline-block;float:left;height:30px;width:18px;}


